# News Categorization using Naive Bayes

In [35]:
import sys,os
import numpy as np
import pandas as pd

root = "C:/Users/dipit/Downloads/bbc-fulltext/bbc/"
#path = os.path.join(root, "sample_images")
print(root)

C:/Users/dipit/Downloads/bbc-fulltext/bbc/

In [37]:

list_dt = []
count =0
title =[]
content_type=[]
description_1=[]

# with open('pagehead.section.htm','r') as f:
#     output = f.read()

for path, subdirs, files in os.walk(root):
    if count==0:
        title = subdirs
        count = count+1
        continue
    print(len(files))
    for name in files:
        content_type.append(title[count-1])
        
        dest = os.path.join(path,name)
        
        with open(dest,'r') as f:
            output = f.read()
            description_1.append(output)
        
        #print(dest)
#     for name in files:
#         print name
#         list_dt.append(name)
    count = count+1

#print(title)

510
386
417
511
401

In [38]:
print(np.shape(content_type))
print(np.shape(description_1))

(2225L,)
(2225L,)

In [117]:
# convert the arrays to dataframe
dt_frame = pd.DataFrame({'content_type':content_type,'txt':description_1})

In [53]:
# dt_frame.head()

0       business
1       business
2       business
3       business
4       business
5       business
6       business
7       business
8       business
9       business
10      business
11      business
12      business
13      business
14      business
15      business
16      business
17      business
18      business
19      business
20      business
21      business
22      business
23      business
24      business
25      business
26      business
27      business
28      business
29      business
          ...
2195        tech
2196        tech
2197        tech
2198        tech
2199        tech
2200        tech
2201        tech
2202        tech
2203        tech
2204        tech
2205        tech
2206        tech
2207        tech
2208        tech
2209        tech
2210        tech
2211        tech
2212        tech
2213        tech
2214        tech
2215        tech
2216        tech
2217        tech
2218        tech
2219        tech
2220        tech
2221        tech
2222        tech
2223        tech
2224        tech
Name: content_type, dtype: object

In [118]:
# save the content to csv
file_name = "D:/dyp/06 Machine learning/lecture and project/exercise/random forest/new_data/news_data_csv.csv"
dt_frame.to_csv(file_name, sep='\t')

In [119]:
dt_frame_1 = pd.read_csv("D:/dyp/06 Machine learning/lecture and project/exercise/random forest/new_data/news_data_csv.csv",sep='\t')

In [120]:
np.shape(dt_frame_1)

(2225, 3)

In [121]:
list(dt_frame_1)
dt_frame_1.drop('Unnamed: 0',axis=1, inplace=True)

In [122]:
dt_frame_1.head()

  content_type                                                txt
0     business  Ad sales boost Time Warner profit\r\n\r\nQuart...
1     business  Dollar gains on Greenspan speech\r\n\r\nThe do...
2     business  Yukos unit buyer faces loan claim\r\n\r\nThe o...
3     business  High fuel prices hit BA's profits\r\n\r\nBriti...
4     business  Pernod takeover talk lifts Domecq\r\n\r\nShare...

In [123]:
import pandas as pd
import nltk
import numpy as np

from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn import naive_bayes
from sklearn.metrics import roc_auc_score

In [124]:
df = pd.read_csv("D:/dyp/06 Machine learning/lecture and project/exercise/random forest/new_data/news_data_csv.csv",sep='\t')

In [133]:
#TFIDF Vectorizer
## if not download then download stopwords
#nltk.download()
#stopset = set[stopwords.words('english')]
vectorizer = TfidfVectorizer(use_idf=True, 
                           lowercase=True,
                           strip_accents='ascii',decode_error ='ignore')

In [135]:
# take out dependent variable
y = df.content_type

In [134]:
#convert df.txt from text to features
X = vectorizer.fit_transform(df.txt)

In [136]:
#check the obserations
print(y.shape)
print(X.shape)

(2225L,)
(2225, 29421)

In [138]:
# test train split as usual
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42)

In [139]:
#Test, Train a navive_bayes classifier
clf = naive_bayes.MultinomialNB()
clf.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [143]:
# calculate accuracy using roc

#roc_auc_score(y_test, clf.predict_proba(X_test)[:,1])

In [142]:
reviews_arr = np.array(["Jani score 12 points"])
movie_review_vector = vectorizer.transform(reviews_arr)
print clf.predict(movie_review_vector)

['sport']